@import "./../main.scss";

.about {
  margin-top: 4rem;

  @include phone {
    margin-top: 4rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;

  @include tab-port {
    flex-direction: column;
  }
}

.left {
  width: 50%;
  margin-top: 5rem;
  margin-right: 4rem;

  @include tab-land {
    width: 35%;
    margin-right: 30px;
  }

  @include tab-port {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @include phone {
    padding: 24px 24px 8px 24px;
    width: 100%;
  }
}
.title {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  span {
    color: #f07957;
    font-weight: 700;
  }
}

.buttons {
  display: flex;
  margin: 4rem;
  margin-left: 2.7rem;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1.25rem 1.25rem;
  margin-right: .5rem;
  background-color: #000;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;

  &:after {
    position: absolute;
    content: attr(data-content);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    border: solid 2px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-.9rem,-.9rem);
    transition: transform .5s cubic-bezier(.10,1,.3,1);
  }
    &:hover:after {
      transform: translate(0, 0);
    }
  &:last-child {
    margin-left: 2rem;
  }
}  

.aboutText {
  line-height: 3.2rem;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.43);
  padding: 4rem;
  border-radius: 4px;
  margin-left: -2rem;

  span a {
    color: #f07957;
    font-weight: 700;
  }
}

.right {
  width: 50%;

  @include tab-land {
    width: 65%;
  }

  @include tab-port {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @include phone {
    width: 100%;
  }
}
