@import './../main.scss';

.logFeedContainer {
  background-color: $color-white;
  border-radius: 25px;
  box-shadow: $shadow-2xl;
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-top: 3rem;

  position: relative;

  @include tab-land {
    width: 100%;
    padding: 3rem;
    background-color: $color-white;
    box-shadow: none;
  }

  @include tab-port {
    width: 100%;
  }

  @include phone {
    width: 90vw;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0rem 0rem 0rem;
  }

  .logFeedButton {

    background-color: $color-dark-navyBlue;
    border: none !important;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem 1.4rem;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
}

.noPostsContainer {
  height: 60vh;
  text-align: center;
}

