@import './../main.scss';

.logFeedContainer {
  background-color: $color-white;
  border-radius: 25px;
  box-shadow: $shadow-2xl;
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-top: 3rem;
}

.noPostsContainer {
  text-align: center;
}