@import "./../main.scss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,500&display=swap");

.logo {
  display: flex;
  justify-content: center;
  

  a {
    font-family: "Playfair Display", serif;
    font-size: 12rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -0.1rem;
  }

}