@import "./../main.scss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,500&display=swap");


.container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;


  .logo {
    justify-self: center;
    
  
    a {
      font-family: "Playfair Display", serif;
      font-size: 12rem;
      font-weight: 700;
      text-decoration: none;
      letter-spacing: -0.1rem;

      @include phone {
        font-size: 6rem;
      }
    }
  
  }

  .buttonContainer {
    justify-self: start;
    align-self: start;
    margin-right: 2.4rem;
    margin-left: 2.4rem;
    margin-bottom: 1.4rem;

    .signOutButton {
      // border: solid 1px $color-black;
      // border-radius: 25px;
      border: none;
      padding: 1rem 1.6rem;
      background-color: transparent;
      font-size: 1.6rem;
      text-decoration: none;
      color: $color-orange;
      font-weight: 600;
     
     }
  }


}


