@import './../main.scss';

.form {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
  .logInFormContainer {
    background-color: rgba(255, 255, 255, 0.43);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 4.8rem 4.2rem 4.8rem 4.2rem;
    box-shadow: $shadow-lg;
    // border: solid 1px $color-black;
      @include phone {
        background: none;
        box-shadow: none;
      }
    .logInFormHeader {
      margin-bottom: 3.2rem;
      h1 {
        text-align: center;
        color: $color-text-gray-800;
        font-size: 2.4rem;
      }
      h2 {
        text-align: right;
        color: $color-text-gray-800;
        font-size: 1.8rem;
        opacity: .8;
      }
    }
  .inputContainer {
    margin-top: 1rem;
    input {
      // border: solid 1px $color-black;
      border: none;
      border-radius: 4px;
      height: 3.4rem;
      width: 32rem;
      padding-left: 1rem;
      margin-top: 1rem;
      opacity: 1;
    }
    input::placeholder {
      color: $color-text-gray-500;
      font-size: 13px;
    }
    label {
      font-weight: bold;
      font-size: 13px;
      color: $color-text-gray-800;
    }
    span {
      margin-left: 14rem;
      color: $color-bright-pink;
    }
  }
    .buttons {
      align-self: start;
      margin-top: 3rem;
      margin-bottom: 1.6rem;
      button[type=submit] {
        max-width: 100%;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.2rem;
        border: none;
        background: none;
        
        background-color: $color-black;
        color: $color-white;
        border-radius: 4px;
        padding: .8rem 3rem;
        cursor: pointer;
        text-transform: uppercase;
       
        &:focus {
          outline: none;
        }
        &:hover {
          background: $color-dark-navyBlue-200;
          box-shadow: $shadow-lg;
          transition: .1s ease-in-out;
        }
        &:active {
          background-color: $color-white;
          color: $color-black;
          box-shadow: none;
          &:focus {
            outline: none;
          }
        } 
        @include phone {
          padding: 1rem 6rem;
        }
      }
    }
  }
}