@import './../main.scss';

header {
  // height: 80px;
  width: 100%;

  .innercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @include phone {
      height: 80px;
      justify-content: center;
    }
    .logo {
      a {
        border: solid 1px $color-black;
        border-radius: 4px;
        padding: .8rem 1.6rem;
        color: $color-black;
        text-decoration: none;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover {
          box-shadow: $shadow-lg;
          transition: .1s ease-in-out;
        }
        &:active {
          box-shadow: none;
          &:focus {
            outline: none;
          }
        } 

     
      }


    }
    .navigation {
      nav {
        display: flex;
        align-items: center;
       p { 
        font-size: 1.6rem;
        color: $color-text-gray-800;

       }
       span {
        margin-left: .8rem;
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-orange;
        font-weight: 600;
       }
      }
    }
  }
};